
body {
    background-image:url(flags/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Fundo claro */
    text-align: center;
}
.message-container {
    background-color: #e0e0e0;
    width: 750px;
    padding: 40px;
    border-radius: 8px;
    align-content: center;
    margin: auto;
}
h1 {
    font-size: 28px;
    margin-bottom: 30px;
}
.country-container {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
    margin: 0 auto 50px auto;
    max-width: 750px; 
}
.country-button {
    border: 1px solid #ccc;
    background-color:transparent; /* Cor de fundo dos botões */
    cursor: pointer;
    font-size: 14px;
    border-radius: 2px;
    transition: background-color 0.2s;
}
.country-button img{
    width: 100%;
    height: 100%;
}
.country-button:hover {
    background-color: #6d0c0c;
    height: 100px;
    width: 130px;
}
.country-button img :hover{
    height: 120px;
    width: 150px;
}
.message-box {
    background-color: #e0e0e0; 
    padding: 30px;
    margin:auto; 
    border-radius: 4px;
    width: 750px;
    min-height: 120px;
}
    
#message-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
#language-info {
    font-size: 14px;
    color: #555;
}
.audio-icon {
    border-radius: 50%;
    position: fixed;
   
}
.audio-icon :hover{
    width: 200px;
    height: 200px;
    
}
.audio-icon img { 
    width: 100px; 
    height: 100px;
    opacity: 0.8;
}